@*@model WebApiLibrary.Models.ServiceStudents

	@{
		ViewBag.Title = "Delete";
		Layout = "~/Views/Shared/_Layout.cshtml";
	}

	<h2>Delete</h2>

	<h3>Are you sure you want to delete this?</h3>
	<div>
		<h4>ServiceStudents</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.serviceStudentName)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.serviceStudentName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.serviceStudentBranch)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.serviceStudentBranch)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.serviceGender)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.serviceGender)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.servicePhoneNumber)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.servicePhoneNumber)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.serviceAddress)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.serviceAddress)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.serviceCity)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.serviceCity)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.serviceEmail)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.serviceEmail)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.servicePassword)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.servicePassword)
			</dd>

		</dl>

		@using (Html.BeginForm()) {
			@Html.AntiForgeryToken()

			<div class="form-actions no-color">
				<input type="submit" value="Delete" class="btn btn-default" /> |
				@Html.ActionLink("Back to List", "Index")
			</div>
		}
	</div>*@

@model WebApiLibrary.Models.ServiceStudents
@{
	ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>Students</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.serviceStudentName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.serviceStudentName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.serviceStudentBranch)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.serviceStudentBranch)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.serviceGender)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.serviceGender)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.servicePhoneNumber)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.servicePhoneNumber)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.serviceAddress)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.serviceAddress)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.serviceCity)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.serviceCity)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.serviceEmail)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.serviceEmail)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.servicePassword)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.servicePassword)
		</dd>
	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-default" /> |
			@Html.ActionLink("Back to List", "Index")
		</div>
	}
</div>
