@model WebApiLibrary.Models.ServiceStudents

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ServiceStudents</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.serviceStudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceStudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceStudentBranch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceStudentBranch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicePhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicePhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicePassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicePassword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.serviceStudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
