@model WebApiLibrary.Models.ServiceStudents

@{
	ViewBag.Title = "Edit";
}
<center><h2>Edit Student</h2></center>
<style>
	a, a:hover {
		color: white;
	}
</style>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="form-horizontal" style="padding-top:50px; ">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.serviceStudentId)

		<div class="form-group">
			@Html.LabelFor(model => model.serviceStudentName, htmlAttributes: new { @class = "control-label col-md-5" })
			<div class="col-md-7">
				@Html.EditorFor(model => model.serviceStudentName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.serviceStudentName, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.serviceStudentBranch, htmlAttributes: new { @class = "control-label col-md-5" })
			<div class="col-md-7">
				@Html.EditorFor(model => model.serviceStudentBranch, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.serviceStudentBranch, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.serviceGender, htmlAttributes: new { @class = "control-label col-md-5" })
			<div class="col-md-7">
				@Html.EditorFor(model => model.serviceGender, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.serviceGender, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.servicePhoneNumber, htmlAttributes: new { @class = "control-label col-md-5" })
			<div class="col-md-7">
				@Html.EditorFor(model => model.servicePhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.servicePhoneNumber, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.serviceAddress, htmlAttributes: new { @class = "control-label col-md-5" })
			<div class="col-md-7">
				@Html.EditorFor(model => model.serviceAddress, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.serviceAddress, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.serviceCity, htmlAttributes: new { @class = "control-label col-md-5" })
			<div class="col-md-7">
				@Html.EditorFor(model => model.serviceCity, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.serviceCity, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.serviceEmail,"Email", htmlAttributes: new { @class = "control-label col-md-5" })
			<div class="col-md-7">
				@Html.EditorFor(model => model.serviceEmail, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.serviceEmail, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.servicePassword,"Password", htmlAttributes: new { @class = "control-label col-md-5" })
			<div class="col-md-7">
				@Html.EditorFor(model => model.servicePassword, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.servicePassword, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-6 col-md-7">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</div>
	</div>
}

<div>
	<button class="btn btn-primary">@Html.ActionLink("Back to List", "Index", new { @style = "color:#FFFFFF;" })</button>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
