@*@model WebApiLibrary.Models.ServiceIssuedBooks

	@{
		ViewBag.Title = "Delete";
		Layout = "~/Views/Shared/_Layout.cshtml";
	}

	<h2>Delete</h2>

	<h3>Are you sure you want to delete this?</h3>
	<div>
		<h4>ServiceIssuedBooks</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.serviceBooks.serviceBookName)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.serviceBooks.serviceBookName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.serviceStudents.serviceStudentName)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.serviceStudents.serviceStudentName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.serviceFromDate)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.serviceFromDate)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.serviceToDate)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.serviceToDate)
			</dd>

		</dl>

		@using (Html.BeginForm()) {
			@Html.AntiForgeryToken()

			<div class="form-actions no-color">
				<input type="submit" value="Delete" class="btn btn-default" /> |
				@Html.ActionLink("Back to List", "Index")
			</div>
		}
	</div>*@

@model WebApiLibrary.Models.ServiceIssuedBooks
@{
	ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>IssuedBooks</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.serviceBooks.serviceBookName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.serviceBooks.serviceBookName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.serviceBooks.serviceAuthorName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.serviceBooks.serviceAuthorName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.serviceBooks.serviceBranch)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.serviceBooks.serviceBranch)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.serviceBooks.servicePublications)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.serviceBooks.servicePublications)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.serviceStudents.serviceStudentName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.serviceStudents.serviceStudentName)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.serviceStudents.serviceEmail)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.serviceStudents.serviceEmail)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.serviceFromDate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.serviceFromDate)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.serviceToDate)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.serviceToDate)
		</dd>
	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-default" /> |
			@Html.ActionLink("Back to List", "Index")
		</div>
	}
</div>
