@model WebApiLibrary.Models.ServiceBooks

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ServiceBooks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.serviceBookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceBookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceSerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceSerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceAuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceAuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceBranch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceBranch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicePublications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicePublications)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceIsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceIsAvailable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.serviceBookId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
